<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alumni Association Portal</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/default.css">
    <script src="https://kit.fontawesome.com/a287632557.js" crossorigin="anonymous"></script>     
</head>
<body>
    
    <header>
        <div class="head">
            <div class="head-left">
                <div class="left1">
                    <img src="images/KNITlogo.png" alt="KNIT logo">
                    <h1>KNIT</h1>
                </div>
                <div class="left2">
                    <p>Kamla Nehru Institute of Technology</p>
                    <hr>
                    <h3>ALUMNI ASSOCIATION</h3>
                </div>
            </div>
            <div class="head-right">
                <div class="right1">       
                    <a href="#"><i class="fas fa-user-plus"></i> REGISTER</a>       
                    <a href="#"><i class="fas fa-sign-in-alt"></i> LOGIN</a>
                </div>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>
    </header>
      <!-- Slider of photos -->
      <!-- 
          <div class="banner">
            <div class="banner-left">
                <img src="images/KNITlogo.png" alt="KNIT logo">
                <h1>KNIT</h1>
            </div>
            <div class="banner-middle">
                
                <p>
                    A comprehensive Platform to bond togrther! <br>
                    Create your profile to connect,Share memories & exchange oppurtunities!
                </p>
                <div class="banner-box">
                </div>
            </div>
            <div class="banner-right">
                <a href="#">REGISTER</a>
            </div>
      </div>
       -->
    <div class="banner shadow">
        <a href="#"><img src="images/banner.jpg" alt="Register"></a>
    </div>  
    <div class="message">
        <div class="dir-message shadow">
            <img src="images/director.jpg" alt="Director's Photo">
            <div class="dir-text">
                <p>
                    From Director's Desk
                </p>
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
        <div class="alumni-pen shadow">
            <img src="images/director.jpg" alt="Director's Photo">
            <div class="alumni-text">
                <p>
                    Lorem, ipsum dolor.
                </p>
                <hr>
            </div>
        </div>
        <div class="event container-box shadow">
            <div class="container-head">
                <h3>
                    EVENTS
                </h3>
            </div>
            <div class="event-body">
                <div class="event-date">
                    <p class="month">AUG</p>
                    <p class="date">20</p>
                </div>
                <div class="event-content">
                    <p class="event-status">PAST</p>
                    <p class="event-title">Muscat Chapter alumni members dinner gathering</p>
                    <p class="event-venue">Jashan Hall - Basement, The Platinum Hotel, Al Khuwair, Muscat.</p>
                </div>
            </div>
        </div>
        <div class="newsroom container-box shadow">
            <div class="container-head">
                <h3>NEWSROOM</h3>
            </div>
            <div class="news-body">
                <ul>
                    <li><a href="#">
                        <p class="news-title">
                            Our alumni Shoaib Dar: an engineer turned educator and Founder of Pi Jam Foun</p>
                        <p class="news-date">10 Jun 2019</p>
                    </a></li>
                    <li><a href="#">
                        <p class="news-title">
                            Our alumni Shoaib Dar: an engineer turned educator and Founder of Pi Jam Foun</p>
                        <p class="news-date">10 Jun 2019</p>
                    </a></li>
                    <li><a href="#">
                        <p class="news-title">
                            Our alumni Shoaib Dar: an engineer turned educator and Founder of Pi Jam Foun</p>
                        <p class="news-date">10 Jun 2019</p>
                    </a></li>
                    <li><a href="#">
                        <p class="news-title">
                            Our alumni Shoaib Dar: an engineer turned educator and Founder of Pi Jam Foun</p>
                        <p class="news-date">10 Jun 2019</p>
                    </a></li>
                    <li><a href="#">
                        <p class="news-title">
                            Our alumni Shoaib Dar: an engineer turned educator and Founder of Pi Jam Foun</p>
                        <p class="news-date">10 Jun 2019</p>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="reach-out container-box shadow">
            <div class="container-head">
                <h3>Reach Out</h3>
            </div>
            <div class="reach-body">
                <form action="#" method="post">
                    <p class="label">
                        Your Name *
                    </p>
                    <input type="text" name="name" id="" placeholder="Enter your name">
                    <p class="label">
                        Your Email-id *
                    </p>
                    <input type="email" name="emailid" id="" placeholder="Enter your email-id">
                    <p class="label">
                        Phone No.
                    </p>
                    <select name="country-code">
                        <option value="91">(+91)</option>
                        <!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="376" class="ng-binding ng-scope">
                            AD (+376)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="971" class="ng-binding ng-scope">
                            AE (+971)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="93" class="ng-binding ng-scope">
                            AF (+93)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1268" class="ng-binding ng-scope">
                            AG (+1268)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1264" class="ng-binding ng-scope">
                            AI (+1264)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="355" class="ng-binding ng-scope">
                            AL (+355)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="374" class="ng-binding ng-scope">
                            AM (+374)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="599" class="ng-binding ng-scope">
                            AN (+599)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="244" class="ng-binding ng-scope">
                            AO (+244)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="672" class="ng-binding ng-scope">
                            AQ (+672)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="54" class="ng-binding ng-scope">
                            AR (+54)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1684" class="ng-binding ng-scope">
                            AS (+1684)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="43" class="ng-binding ng-scope">
                            AT (+43)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="61" class="ng-binding ng-scope">
                            AU (+61)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="297" class="ng-binding ng-scope">
                            AW (+297)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="358" class="ng-binding ng-scope">
                            AX (+358)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="994" class="ng-binding ng-scope">
                            AZ (+994)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="387" class="ng-binding ng-scope">
                            BA (+387)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1246" class="ng-binding ng-scope">
                            BB (+1246)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="880" class="ng-binding ng-scope">
                            BD (+880)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="32" class="ng-binding ng-scope">
                            BE (+32)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="226" class="ng-binding ng-scope">
                            BF (+226)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="359" class="ng-binding ng-scope">
                            BG (+359)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="973" class="ng-binding ng-scope">
                            BH (+973)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="257" class="ng-binding ng-scope">
                            BI (+257)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="229" class="ng-binding ng-scope">
                            BJ (+229)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="590" class="ng-binding ng-scope">
                            BL (+590)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1441" class="ng-binding ng-scope">
                            BM (+1441)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="673" class="ng-binding ng-scope">
                            BN (+673)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="591" class="ng-binding ng-scope">
                            BO (+591)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="55" class="ng-binding ng-scope">
                            BR (+55)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1242" class="ng-binding ng-scope">
                            BS (+1242)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="975" class="ng-binding ng-scope">
                            BT (+975)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="267" class="ng-binding ng-scope">
                            BW (+267)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="375" class="ng-binding ng-scope">
                            BY (+375)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="501" class="ng-binding ng-scope">
                            BZ (+501)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1" class="ng-binding ng-scope">
                            CA (+1)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="61" class="ng-binding ng-scope">
                            CC (+61)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="243" class="ng-binding ng-scope">
                            CD (+243)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="236" class="ng-binding ng-scope">
                            CF (+236)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="242" class="ng-binding ng-scope">
                            CG (+242)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="41" class="ng-binding ng-scope">
                            CH (+41)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="225" class="ng-binding ng-scope">
                            CI (+225)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="682" class="ng-binding ng-scope">
                            CK (+682)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="56" class="ng-binding ng-scope">
                            CL (+56)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="237" class="ng-binding ng-scope">
                            CM (+237)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="86" class="ng-binding ng-scope">
                            CN (+86)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="57" class="ng-binding ng-scope">
                            CO (+57)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="506" class="ng-binding ng-scope">
                            CR (+506)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="53" class="ng-binding ng-scope">
                            CU (+53)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="238" class="ng-binding ng-scope">
                            CV (+238)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="61" class="ng-binding ng-scope">
                            CX (+61)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="357" class="ng-binding ng-scope">
                            CY (+357)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="420" class="ng-binding ng-scope">
                            CZ (+420)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="49" class="ng-binding ng-scope">
                            DE (+49)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="253" class="ng-binding ng-scope">
                            DJ (+253)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="45" class="ng-binding ng-scope">
                            DK (+45)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1767" class="ng-binding ng-scope">
                            DM (+1767)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1849" class="ng-binding ng-scope">
                            DO (+1849)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="213" class="ng-binding ng-scope">
                            DZ (+213)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="593" class="ng-binding ng-scope">
                            EC (+593)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="372" class="ng-binding ng-scope">
                            EE (+372)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="20" class="ng-binding ng-scope">
                            EG (+20)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="291" class="ng-binding ng-scope">
                            ER (+291)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="34" class="ng-binding ng-scope">
                            ES (+34)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="251" class="ng-binding ng-scope">
                            ET (+251)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="358" class="ng-binding ng-scope">
                            FI (+358)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="679" class="ng-binding ng-scope">
                            FJ (+679)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="500" class="ng-binding ng-scope">
                            FK (+500)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="691" class="ng-binding ng-scope">
                            FM (+691)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="298" class="ng-binding ng-scope">
                            FO (+298)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="33" class="ng-binding ng-scope">
                            FR (+33)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="241" class="ng-binding ng-scope">
                            GA (+241)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="44" class="ng-binding ng-scope">
                            GB (+44)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1473" class="ng-binding ng-scope">
                            GD (+1473)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="995" class="ng-binding ng-scope">
                            GE (+995)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="594" class="ng-binding ng-scope">
                            GF (+594)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="44" class="ng-binding ng-scope">
                            GG (+44)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="233" class="ng-binding ng-scope">
                            GH (+233)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="350" class="ng-binding ng-scope">
                            GI (+350)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="299" class="ng-binding ng-scope">
                            GL (+299)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="220" class="ng-binding ng-scope">
                            GM (+220)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="224" class="ng-binding ng-scope">
                            GN (+224)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="590" class="ng-binding ng-scope">
                            GP (+590)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="240" class="ng-binding ng-scope">
                            GQ (+240)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="30" class="ng-binding ng-scope">
                            GR (+30)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="500" class="ng-binding ng-scope">
                            GS (+500)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="502" class="ng-binding ng-scope">
                            GT (+502)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1671" class="ng-binding ng-scope">
                            GU (+1671)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="245" class="ng-binding ng-scope">
                            GW (+245)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="595" class="ng-binding ng-scope">
                            GY (+595)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="852" class="ng-binding ng-scope">
                            HK (+852)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="504" class="ng-binding ng-scope">
                            HN (+504)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="385" class="ng-binding ng-scope">
                            HR (+385)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="509" class="ng-binding ng-scope">
                            HT (+509)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="36" class="ng-binding ng-scope">
                            HU (+36)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="62" class="ng-binding ng-scope">
                            ID (+62)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="353" class="ng-binding ng-scope">
                            IE (+353)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="972" class="ng-binding ng-scope">
                            IL (+972)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="44" class="ng-binding ng-scope">
                            IM (+44)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="91" class="ng-binding ng-scope">
                            IN (+91)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="246" class="ng-binding ng-scope">
                            IO (+246)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="964" class="ng-binding ng-scope">
                            IQ (+964)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="98" class="ng-binding ng-scope">
                            IR (+98)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="354" class="ng-binding ng-scope">
                            IS (+354)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="39" class="ng-binding ng-scope">
                            IT (+39)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="44" class="ng-binding ng-scope">
                            JE (+44)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1876" class="ng-binding ng-scope">
                            JM (+1876)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="962" class="ng-binding ng-scope">
                            JO (+962)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="81" class="ng-binding ng-scope">
                            JP (+81)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="254" class="ng-binding ng-scope">
                            KE (+254)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="996" class="ng-binding ng-scope">
                            KG (+996)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="855" class="ng-binding ng-scope">
                            KH (+855)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="686" class="ng-binding ng-scope">
                            KI (+686)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="269" class="ng-binding ng-scope">
                            KM (+269)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1869" class="ng-binding ng-scope">
                            KN (+1869)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="850" class="ng-binding ng-scope">
                            KP (+850)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="82" class="ng-binding ng-scope">
                            KR (+82)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="965" class="ng-binding ng-scope">
                            KW (+965)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value=" 345" class="ng-binding ng-scope">
                            KY (+ 345)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="77" class="ng-binding ng-scope">
                            KZ (+77)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="856" class="ng-binding ng-scope">
                            LA (+856)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="961" class="ng-binding ng-scope">
                            LB (+961)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1758" class="ng-binding ng-scope">
                            LC (+1758)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="423" class="ng-binding ng-scope">
                            LI (+423)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="94" class="ng-binding ng-scope">
                            LK (+94)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="231" class="ng-binding ng-scope">
                            LR (+231)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="266" class="ng-binding ng-scope">
                            LS (+266)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="370" class="ng-binding ng-scope">
                            LT (+370)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="352" class="ng-binding ng-scope">
                            LU (+352)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="371" class="ng-binding ng-scope">
                            LV (+371)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="218" class="ng-binding ng-scope">
                            LY (+218)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="212" class="ng-binding ng-scope">
                            MA (+212)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="377" class="ng-binding ng-scope">
                            MC (+377)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="373" class="ng-binding ng-scope">
                            MD (+373)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="382" class="ng-binding ng-scope">
                            ME (+382)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="590" class="ng-binding ng-scope">
                            MF (+590)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="261" class="ng-binding ng-scope">
                            MG (+261)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="692" class="ng-binding ng-scope">
                            MH (+692)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="389" class="ng-binding ng-scope">
                            MK (+389)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="223" class="ng-binding ng-scope">
                            ML (+223)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="95" class="ng-binding ng-scope">
                            MM (+95)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="976" class="ng-binding ng-scope">
                            MN (+976)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="853" class="ng-binding ng-scope">
                            MO (+853)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1670" class="ng-binding ng-scope">
                            MP (+1670)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="596" class="ng-binding ng-scope">
                            MQ (+596)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="222" class="ng-binding ng-scope">
                            MR (+222)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1664" class="ng-binding ng-scope">
                            MS (+1664)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="356" class="ng-binding ng-scope">
                            MT (+356)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="230" class="ng-binding ng-scope">
                            MU (+230)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="960" class="ng-binding ng-scope">
                            MV (+960)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="265" class="ng-binding ng-scope">
                            MW (+265)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="52" class="ng-binding ng-scope">
                            MX (+52)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="60" class="ng-binding ng-scope">
                            MY (+60)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="258" class="ng-binding ng-scope">
                            MZ (+258)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="264" class="ng-binding ng-scope">
                            NA (+264)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="687" class="ng-binding ng-scope">
                            NC (+687)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="227" class="ng-binding ng-scope">
                            NE (+227)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="672" class="ng-binding ng-scope">
                            NF (+672)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="234" class="ng-binding ng-scope">
                            NG (+234)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="505" class="ng-binding ng-scope">
                            NI (+505)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="31" class="ng-binding ng-scope">
                            NL (+31)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="47" class="ng-binding ng-scope">
                            NO (+47)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="977" class="ng-binding ng-scope">
                            NP (+977)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="674" class="ng-binding ng-scope">
                            NR (+674)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="683" class="ng-binding ng-scope">
                            NU (+683)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="64" class="ng-binding ng-scope">
                            NZ (+64)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="968" class="ng-binding ng-scope">
                            OM (+968)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="507" class="ng-binding ng-scope">
                            PA (+507)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="51" class="ng-binding ng-scope">
                            PE (+51)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="689" class="ng-binding ng-scope">
                            PF (+689)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="675" class="ng-binding ng-scope">
                            PG (+675)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="63" class="ng-binding ng-scope">
                            PH (+63)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="92" class="ng-binding ng-scope">
                            PK (+92)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="48" class="ng-binding ng-scope">
                            PL (+48)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="508" class="ng-binding ng-scope">
                            PM (+508)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="872" class="ng-binding ng-scope">
                            PN (+872)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1939" class="ng-binding ng-scope">
                            PR (+1939)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="970" class="ng-binding ng-scope">
                            PS (+970)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="351" class="ng-binding ng-scope">
                            PT (+351)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="680" class="ng-binding ng-scope">
                            PW (+680)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="595" class="ng-binding ng-scope">
                            PY (+595)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="974" class="ng-binding ng-scope">
                            QA (+974)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="262" class="ng-binding ng-scope">
                            RE (+262)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="40" class="ng-binding ng-scope">
                            RO (+40)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="381" class="ng-binding ng-scope">
                            RS (+381)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="7" class="ng-binding ng-scope">
                            RU (+7)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="250" class="ng-binding ng-scope">
                            RW (+250)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="966" class="ng-binding ng-scope">
                            SA (+966)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="677" class="ng-binding ng-scope">
                            SB (+677)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="248" class="ng-binding ng-scope">
                            SC (+248)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="249" class="ng-binding ng-scope">
                            SD (+249)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="46" class="ng-binding ng-scope">
                            SE (+46)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="65" class="ng-binding ng-scope">
                            SG (+65)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="290" class="ng-binding ng-scope">
                            SH (+290)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="386" class="ng-binding ng-scope">
                            SI (+386)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="47" class="ng-binding ng-scope">
                            SJ (+47)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="421" class="ng-binding ng-scope">
                            SK (+421)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="232" class="ng-binding ng-scope">
                            SL (+232)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="378" class="ng-binding ng-scope">
                            SM (+378)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="221" class="ng-binding ng-scope">
                            SN (+221)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="252" class="ng-binding ng-scope">
                            SO (+252)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="597" class="ng-binding ng-scope">
                            SR (+597)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="211" class="ng-binding ng-scope">
                            SS (+211)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="239" class="ng-binding ng-scope">
                            ST (+239)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="503" class="ng-binding ng-scope">
                            SV (+503)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="963" class="ng-binding ng-scope">
                            SY (+963)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="268" class="ng-binding ng-scope">
                            SZ (+268)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1649" class="ng-binding ng-scope">
                            TC (+1649)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="235" class="ng-binding ng-scope">
                            TD (+235)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="228" class="ng-binding ng-scope">
                            TG (+228)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="66" class="ng-binding ng-scope">
                            TH (+66)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="992" class="ng-binding ng-scope">
                            TJ (+992)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="690" class="ng-binding ng-scope">
                            TK (+690)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="670" class="ng-binding ng-scope">
                            TL (+670)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="993" class="ng-binding ng-scope">
                            TM (+993)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="216" class="ng-binding ng-scope">
                            TN (+216)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="676" class="ng-binding ng-scope">
                            TO (+676)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="90" class="ng-binding ng-scope">
                            TR (+90)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1868" class="ng-binding ng-scope">
                            TT (+1868)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="688" class="ng-binding ng-scope">
                            TV (+688)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="886" class="ng-binding ng-scope">
                            TW (+886)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="255" class="ng-binding ng-scope">
                            TZ (+255)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="380" class="ng-binding ng-scope">
                            UA (+380)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="256" class="ng-binding ng-scope">
                            UG (+256)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1" class="ng-binding ng-scope">
                            US (+1)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="598" class="ng-binding ng-scope">
                            UY (+598)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="998" class="ng-binding ng-scope">
                            UZ (+998)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="379" class="ng-binding ng-scope">
                            VA (+379)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1784" class="ng-binding ng-scope">
                            VC (+1784)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="58" class="ng-binding ng-scope">
                            VE (+58)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1284" class="ng-binding ng-scope">
                            VG (+1284)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="1340" class="ng-binding ng-scope">
                            VI (+1340)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="84" class="ng-binding ng-scope">
                            VN (+84)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="678" class="ng-binding ng-scope">
                            VU (+678)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="681" class="ng-binding ng-scope">
                            WF (+681)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="685" class="ng-binding ng-scope">
                            WS (+685)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="967" class="ng-binding ng-scope">
                            YE (+967)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="262" class="ng-binding ng-scope">
                            YT (+262)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="27" class="ng-binding ng-scope">
                            ZA (+27)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="260" class="ng-binding ng-scope">
                            ZM (+260)
                        </option><!-- end ngRepeat: dialObj in dialcodes --><option ng-repeat="dialObj in dialcodes" value="263" class="ng-binding ng-scope">
                            ZW (+263)
                        </option><!-- end ngRepeat: dialObj in dialcodes -->
                    </select>
                    <input type="tel" name="phoneno" id="" placeholder="Phone No.">
                    <p class="label">
                        Your message *
                    </p>
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Your message"></textarea>
                    <input type="submit" value="SUBMIT">
                </form>
            </div>
        </div>
    </div>
      

    
</body>
</html>